<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.4/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-DQvkBjpPgn7RC31MCQoOeC9TI2kdqa4+BSgNMNj8v77fdC77Kj5zpWFTJaaAoMbC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static css_file %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel= "stylesheet" href= "https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css" >
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'home' %}">Schoolgie</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'students_main' %}">Students</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'teachers_main' %}">Teachers</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'subjects_main' %}">Subjects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'classes_main' %}">Classes</a>
              </li>
            </ul>
            <div class="d-flex">
              {% if user.is_authenticated %}
                  <a href="{% url 'logout' %}" class="btn btn-outline-danger ms-2">Log out</a>
              {% else %}
                  <a href="{% url 'login' %}" class="btn btn-outline-primary ms-2">Log in</a>
                  <a href="{% url 'register' %}" class="btn btn-outline-success ms-2">Register</a>
              {% endif %}
            </div>
          </div>
        </div>
    </nav>
    <div class="center_div">
    <div class="vertical">
        <h1 class="main_header">Classes</h1>
        <h4 class="main_subheader">Find out what you need about classes</h4>
        <a href="{% url 'show_subjects' %}" class="button">Show info about subjects  <i class="las la-file-alt"></i></a>
        <a href="{% url 'add_subject' %}" class="button">Add subject  <i class="las la-plus-square"></i></a>
        <a href="{% url 'edit_list_subject' %}" class="button">Edit info about subject  <i class="las la-edit"></i></a>
        <a href="{% url 'delete_list_subject' %}" class="button">Delete subject  <i class="las la-trash"></i></a>
        
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.4/dist/js/bootstrap.bundle.min.js" integrity="sha384-YUe2LzesAfftltw+PEaao2tjU/QATaW/rOitAq67e0CT0Zi2VVRL0oC4+gAaeBKu" crossorigin="anonymous"></script>
</body>
</html>