{% load static %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.4/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-DQvkBjpPgn7RC31MCQoOeC9TI2kdqa4+BSgNMNj8v77fdC77Kj5zpWFTJaaAoMbC" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'albums/styles.css' %}">
<div class="register">
<h2>Log in</h2>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="button_new">Log in</button>
</form>
<a href="{% url 'register' %}" class="button_new">Register</a>
<a href="{% url 'forgot' %}" class="button_new">Forgot password?</a>
{% if error %}
    <p style="color:rgb(148, 0, 0);">{{ error }}</p>
{% endif %}
</div>